@font-face {
    font-family: sebas;
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    
}
@font-face {
    font-family: sebas;
    src: url("fonts/Montserrat-Black.ttf") format("truetype");
}