*{
    background: radial-gradient(0, #1761bb 0%, #101627 100%);
    box-sizing: border-box;

}
h1 {
    display: flex; /*Centrar (1parte)*/
    justify-content: center; /*centrar (2parte)*/
    font-size: 40px;/*tamaño de texto*/
    margin-bottom: 1em; /*ponerle margen asi abajo*/
    margin-top: 1.5em;
    color: #fff;
   

}
p{
    color: #6c757d ;
    margin: 3em; /*margenes asi todos los lados*/
    font-family: sebas,Arial, Helvetica, sans-serif;
    font-weight: bold; /*negrilla*/
    font-weight: 400; /*grosor del texto*/
    text-align: center;
    line-height: 1.4; /* espaciado de arriba a abajo*/
    padding: 12px;

}

form{
    padding: 10px 30%;
    text-align: center;
    
    
    
}
.a{
    width: 70%;
    text-align: center;
    padding: 2%;
    margin:2%;
    font-size: 20px;
    border-radius: 6em;
    border-width: 5px;
    border-color: black;
    background: whte;
    

}


.btn{
    width: 40%;
    border-radius:10rem;
    border-width: 5px;
    cursor: pointer;
    color: grey;
    margin-bottom: 1rem;
    
    
    
}
.btn:hover{
    transform: scale(1.1);
}
input{
    color: #fff;  
}
div{
    width: 100%;
    margin: auto;
    text-align: center;
    
}


